.nav {
    background-color: #252A2E;
    border-bottom: 1px #252A2E solid;
    height: 60px;
}

.nav li{
    float: left;
}

.nav button {
    background-color: #252A2E;
    color: #fff;
    border: 0;
    padding-left: 15px;
    cursor: pointer;
    outline: none;
}

.nav button:hover {
    color: #add8e6;
}

.nav--info {
    list-style: none;
    color: #fff;
    padding-top: 17px;
}
.shapes-info--card {
    position: absolute;
    background-color: white;
    right: 30px;
    top: 90px;
    width: 330px;
}

.shapes-info--text {
    color: #687dd1;
}
.container {
    width: 100%;
    height: 100%;
}